<h2>Are you sure you want to delete $stylist.getName() all their clients will be lost :/</h2>
<form action="/stylists/$stylist.getId()/delete" method="post">
<button type="submit" name="button">Delete $stylist.getName()</button>
</form>
