<!--index.vtl-->
#if ($stylists)
  <h1>Click a Stylist name below to view their Clients</h1>
  #else
    <h1>No Stylists Available</h1>
  #end
#if ($stylists)
    #foreach ($stylist in $stylists)
    <div class="panel panel-default">
  <div class="panel-body"><a href="/stylists/$stylist.getId()">$stylist.getName()</a></div>
    </div>
    #end
#end
<!--index.vtl-->
