<!DOCTYPE html>
<html>
  <head>
    <title>salon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container">
      <div class="jumbotron">
        <h1 class="italic">l33t salon</h1>
        <p>Get your hairs did...</p>
        <ul class="home">
          <li><a href="/">Homepage/Stylists</a></li>
          <li><a href="/stylists/new">Add a Stylist</a></li>
          #if ($editStylist)
          <li><a href="/stylists/$stylist.getId()/clients/new">Add a client to $stylist.getName()</a></li>
          <li><a href="/stylists/$stylist.getId()/edit">Edit Stylist</a></li>
          <li><a href="/stylists/$stylist.getId()/delete">Delete Stylist</a></li>
          #end
          #if ($editClient)
          <li><form action="/stylists/$client.getStylistId()/clients/$client.getId()" method="post">
            <label for="phoneNumber"></label>
            <input type="hidden" name="option" value="edit">
            <input id="phoneNumber" name="phoneNumber" type="text">
            <button type="submit" class="btn btn-info">Update Phone Number</button>
          </form></li>
          <li><form action="/stylists/$client.getStylistId()/clients/$client.getId()" method="post">
            <label for="delete">Delete Client</label>
            <input type="hidden" name="option" value="delete">
            <button id="delete-client" type="submit" class="btn btn-info">Delete</button>
          </form></li>
          #end
        </ul>
      </div>
    <div class="container">
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
