<h1>$stylist.getName()</h1>
<h3>Works for $stylist.getRate() dollars/hr</h3>
<h3>#if ($stylist.getColor())$stylist.getName() can do Color!<br> #end
    #if ( ! $stylist.getColor())$stylist.getName() can't do Color<br> #end <h3>
#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li>"$client.getName()"</li>
    #end
  </ul>
#end
<a href="/stylists/$stylist.getId()/clients/new">Add a client to $stylist.getName()</a>
