<h1>STYLIST-FORM VTL</h1>
<form action="/stylists" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
    <button type="submit" class="btn btn-primary">Add new Stylist</button>
  </div>
</form>
